---
import TsunamiEvacuationInfo from "@/components/TsunamiEvacuationInfo";
import "@/styles/global.css";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tsunami Evacuation Info</title>
  </head>
  <body>
    <TsunamiEvacuationInfo
      client:only="react"
      shelterName="こうべ市民福祉交流センター"
      shelterNameEn="Kobe Citizen Welfare Exchange Center"
      shelterAddress="神戸市中央区磯上通3丁目1-32"
      shelterAddressEn="3-1-32 Isogami-dori, Chuo-ku, Kobe"
      distance={870}
      estimatedTimeToShelter={30}
      estimatedHeight={5}
      estimatedTimeToArrival={18}
       imageSrc="/combined_map3.png"
    />
  </body>
</html>