---
import TsunamiEvacuationInfo from "@/components/TsunamiEvacuationInfo";
import "@/styles/global.css";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tsunami Evacuation Info</title>
  </head>
  <body>
    <TsunamiEvacuationInfo
      client:only="react"
      shelterName="神戸市立磯上体育館"
      shelterNameEn="Kobe Isogami Gymnasium"
      shelterAddress="兵庫県神戸市中央区八幡通２丁目１−３８"
      shelterAddressEn="2-1-38 Yahata-dori, Chuo-ku, Kobe, Hyogo"
      distance={870}
      estimatedTimeToShelter={30}
      estimatedHeight={5}
      estimatedTimeToArrival={18}
      imageSrc="/combined_map5.png"
    />
  </body>
</html>