---
import "@/styles/global.css";
import EarthquakeEvacuationInfo from "@/components/EarthquakeEvacuationInfo.tsx";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Earthquake Evacuation Info</title>
  </head>
  <body>
    <!-- ここでクライアントマウント -->
    <EarthquakeEvacuationInfo client:only="react" />
  </body>
</html>