---
import TsunamiEvacuationInfo from "@/components/TsunamiEvacuationInfo";
import "@/styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tsunami Evacuation Info</title>
  </head>
  <body>
    <TsunamiEvacuationInfo
      client:only="react"
      shelterName="こうべ市民福祉交流センター" // @file_context_0
      shelterNameEn="Kobe Citizen Welfare Exchange Center" // @file_context_0
      shelterAddress="神戸市中央区磯上通3丁目1-32" // @file_context_0
      shelterAddressEn="3-1-32 Isogami-dori, Chuo-ku, Kobe" // @file_context_0
      distance={870}
      estimatedTimeToShelter={30}
      estimatedHeight={5}
      estimatedTimeToArrival={18}
      imageSrc="/combined_map4.png"
    />
  </body>
</html>