---
import "@/styles/global.css";
import TsunamiEvacuationInfo from "@/components/TsunamiEvacuationInfo.tsx";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Tsunami Evacuation Info</title>
  </head>
  <body>
    <!-- ここでクライアントマウント -->
    <TsunamiEvacuationInfo client:only="react" />
  </body>
</html>